body{
background: rgba(246, 246, 246, 1)
}

*{
    box-sizing:border-box;
    box-sizing:border-box;
    }

.game-title{
    display:block;
    margin-bottom:30px;
    font-size:35px;
    font-weight:bold;
    text-align:center

    }


.game{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    width:152px;
    margin:0 auto 50px;

    }

.cell{
    position:relative;
    width:50px;
    height:50px;
    line-height:48px;
    border:1px solid #000;
    text-align:center;
    font-size:30px;
    font-weight:bold;
    border-radius: 12px;
    }

.cell:hover{
    background-color:#ccc
}

.cell.o{
    background-color:#E38BAC
}

.cell.x{
    background-color:#60C2AA
}

#reset-game{
    display:block;
    margin:0 auto;
    border:1px solid #000;
    border-radius: 12px;
    background-color:#fff;
    padding:10px 20px;
    }

#reset-game:hover{
    background: rgba(96, 194, 170, 0.3);
}
